<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="public-header">
        <div class="public-container">
            <div class="header-logo"><a></a></div>
            <ul class="header-nav clearfloat">
                <li class="item"><a>Our Story</a></li>
                <li class="item"><a>Menu</a></li>
                <li class="item"><a>Reservations</a></li>
                <li class="item"><a>News</a></li>
                <li class="item"><a>Reviews</a></li>
            </ul>
        </div>
    </div>
    <div class="index-banner"></div>
    <div class="index-list public-container"></div>
    <div class="index-panel public-container">
        <div class="index-panel-header">Featured Dishes</div>
    </div>
    <div class="index-panel public-container">
        <div class="index-panel-header">The Gallery</div>
    </div>
    <div class="public-footer">
        <div class="public-container">
            <div class="footer-col">
                <p>
                    New York Restaurant<br>
                    3926 Anmoore Road<br>
                    New York, NY 10014<br>
                    <a href="Tel:718-749-1714">718-149-1714</a>
                </p>
            </div>
            <div class="footer-col">
                <p>
                    France Restaurant<br>
                    68, rue de la cournne <br>
                    75002 PARIS<br>
                    02,94,23,69,56
                </p>
            </div>
            <div class="footer-col">
                <a>Blog</a>
                <a>Careers</a>
                <a>Privacy Policy</a>
                <a >Contact</a>
            </div>
            <div class="footer-col">
                <div class="footer-logo"></div>
                @ All Rights Reserved 2014.<br>
                Find More at Pixelhint.com
            </div>
        </div>
    </div>
</body>
</html>